@model WebService.Models.ViewModels.SellerFormViewModel
<!--declaração que a minha View vai ter a disposição um objeto Seller -->
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4>
<hr />
<div class="row">
    <!--esse row vai afzer com que meu div ocupe a largura da tela -->
    <div class="col-md-4">
        <!--para ocupação e um terço da tela, pq o bootstrap divide a tela em 12 partes-->
        <form asp-action="Create">
            <!--quando for enviado o formulário, seja chamada a ação Create-->
            <div asp-validation-summary="All" class="text-danger"></div> <!--mensagem de erro no caso de falha e validação. Formatado para colocar as validações em forma de sumário, aparecendo no mesmo lugar em uma lista. Pra ela funcionar em um nível de JavaScript, ou seja, no lado do cliente, preciso colocar no final do arquivo, trecho de código SECTION SCRIPTS-->
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label> <!--asp for é para definir o label que vai aparecer na caixinha para você digitar-->
                <input asp-for="Seller.Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span> <!-- mostra as mnesagens de validação em cada campo naõ preenchido pelo usuário lá na tela-->
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span> <!-- mostra as mnesagens de validação em cada campo naõ preenchido pelo usuário lá na tela-->
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span> <!-- mostra as mnesagens de validação em cada campo naõ preenchido pelo usuário lá na tela-->
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span> <!-- mostra as mnesagens de validação em cada campo naõ preenchido pelo usuário lá na tela-->
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id", // select é a caixinha de seleção do HTML //
                "Name"))" class="form-control"></select> <!--O ASP ITEMS constroi os items da caixinha de seleção com base numa coleção que vc passar. O SelectList vai ter três argumentos: O primeiro argumento é a fonte de dados da coleção, segundo atributo é a chave, terceiro é qual atributo desse objeto que vai aparecer na caixinha // -->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}